st-voice2text {
  position: relative;
}

.voice2text-start,
.voice2text-stop {
  position: absolute;
  border: none;
  margin: 0;
  background: transparent;
  padding: 0;
  display: none;
  top:0;
  right:0;

  >img {
    height: 20px;
    width: 20px;
  }
}

.voice2text-enabled {
  &.voice2text-recording > .voice2text-stop {
    display: block;
  }

  &:not(.voice2text-recording) > .voice2text-start {
    display: block;
  }
}
