st-voice2text {
  .container {
    button {
      position: absolute;
      border: none;
      margin: 0;
      background: transparent;
      padding: 0;

      img {
        height: 20px;
        width: 20px;
      }

      &.inactive {
        display: none;
      }
    }
  }
}
