st-voice2text {
  .container {
    position: relative;

    input {
      border: 0;
      border-bottom: 1px solid black;
    }

    button {
      position: absolute;
      margin-left: 5px;
    }
  }
}
